.container {
    width: 60.42%;
    margin: auto;
}

.header .top-header {
    padding-top: 1.81rem;
    padding-bottom: 1.625rem;
    position: relative;
}

.header .top-header .logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header .top-header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 2.125rem;
    right: 0;
}

.header .top-header .search:hover,
button:hover {
    cursor: pointer;
}

button:hover, select:hover {
    color: #EB0028;
}

.header nav {
    display: flex;
    align-items: center;
    padding: 1.25rem 0rem;
    border: 1px solid #E9E9E9;
}

.header nav ul {
    /* width: 28.85%; */
    margin: auto;
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.header nav li {
    text-wrap: none;
}


select {
    outline: none;
}

select:hover {
    cursor: pointer;
}


.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-hidden-width {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
    padding: 4px;
}

.select-dynamic {
    appearance: none;
    padding: 4px 24px 4px 8px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.select-dynamic::-ms-expand {
    display: none;
}

.arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 4px;
    right: 0;
}

.select-dynamic,
button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}


button {
    background-color: white;
    outline: none;
    border: none;
}



@media (max-width: 1024px) {
    .header {
        display: none;
    }
}